

#top ul{
    padding-top: 8px;
}

#top ul li{
    display: inline;
    line-height: 30px;
    margin: 0px 5px;
    color: white;
}

#top ul li a i{
    font-size: 18px;
    margin: 0 1px;
}

/* VENTANAS MODALES */
.modalTitle{
    padding: 5px 0px;
}

.modalTitle h3{
    text-align: center;
    margin-top:-5px;
    padding: 15px 0px;
    border-radius: 5px 5px 0px 0px;
}

.modalForm .close{
    position: absolute;
    right: 27px;
    top: 15px;
    color: white;
}

.modalForm .facebook, .modalFormulario .google{
    cursor: pointer;
}

.modalForm .facebook p{
    background: #46639f;
}

.modalForm .google p{
    background: #d6513e;
}

.modalForm .facebook p, .modalForm .google p{
    color: white;
    text-align: center;
    line-height: 40px;
    padding: 8px;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.modalForm p i{
    margin-left: -25px;
    margin-right: 25px;
    font-size: 25px;
}

.modalForm form{
    padding: 20px;
}

.modalForm form input[type="text"], .modalForm form input[type="email"], .modalForm form input[type="password"]{
	padding:25px;
}

.modalForm form input[type="submit"]{
	padding:15px;
}

.navbar-default{
    top: 8px;
    background-color: transparent;
    border-color: transparent;
}

.navbar .navbar-nav li{
    margin: 0px 25px;
}

.navbar .navbar-nav li a{
    font-size: 14px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: #1e1e1e;
    transition: all 0.3s;
}

.navbar .navbar-nav li a:hover{
    color: #f48840;
   
}

.navbar .navbar-nav li.active a, .navbar .navbar-nav li.active a:hover, .navbar .navbar-nav li.active a:focus{
    color: #f48840;
    background-color: transparent;
}



/* PANTALLA DE ESCRITORIO GRANDE - LARGE */

@media(min-width:1200px){

    .modalForm .facebook p{
        margin-right: -15px;
    }

    #top .register{
        padding-left: 68px;
    }

    .navbar-default a img{
        max-width: 350px;
        margin-left: 103px;
        margin-top: -6px;
        position: absolute;
    }
    
}

/* PANTALLA DE ESCRITORIO MEDIANO - MEDIUM */
@media (max-width: 1199px) and (min-width: 992px){

    
    .modalForm .facebook p{
        margin-right: -15px;
    }

    /* HEADER */
    .navbar-default a img{
        max-width: 341px;
        margin-left: 20px;
        margin-top: -4px;
        position: absolute;
    }

}

/* PANTALLA DE TABLET - SMALL */
@media(max-width:991px) and (min-width:768px){

    /* HEADER */

    .modalForm .facebook p{
        margin-right: -15px;
    }

    .navbar-default a img{
      width: 330px;
      margin-left: -94px;
      margin-top: -4px;
      position: absolute;
    }

}

/* PANTALLA DE PHONES - EXTRA SMALL */
@media(max-width:767px){

    /* TOP */
    #top ul {
        padding-top: 8px;
        text-align: center;
    }
    
    /* HEADER */
    .navbar-default a img{
        max-width: 349px;
        margin-top: -8px;
        margin-left: -23px;
        position: absolute;
      }

    .modalForm .google p{
        margin-top: -15px;
    }

    .featureTitle img{
        height: 21px;
    }

    .heading-section h2{
        margin-top: 10px;
    }

    .navbar .navbar-toggle {
        border-color: #fff;
        outline: none;
        border-radius: 0px;
        margin-right: -11px;
       
       
    }

    .navbar-default .navbar-toggle .icon-bar{
        background-color: white;
    }

    .navbar .navbar-nav a.nav-link {
        padding: 15px 0px;
    }

    .navbar .navbar-nav li {
        border-bottom: 1px solid #eee;
        text-align: center;
    }

    .navbar .navbar-nav li:last-child {
        border-bottom: none;
    }

    .navbar-default .navbar-collapse{
        margin-top: 58px;
    }

    


    
}

