

#top ul{
    padding-top: 8px;
}

#top ul li{
    display: inline;
    line-height: 30px;
    margin: 0px 5px;
    color: white;
}

#top ul li a i{
    font-size: 18px;
    margin: 0 1px;
}

header #logo{
    justify-content: center;
    display: flex;
}


/* VENTANAS MODALES */
.modalTitle{
    padding: 5px 0px;
}

.modalTitle h3{
    text-align: center;
    margin-top:-5px;
    padding: 15px 0px;
    border-radius: 5px 5px 0px 0px;
}

.modalForm .close{
    position: absolute;
    right: 27px;
    top: 15px;
    color: white;
}

.modalForm .facebook, .modalFormulario .google{
    cursor: pointer;
}

.modalForm .facebook p{
    background: #46639f;
}

.modalForm .google p{
    background: #d6513e;
}

.modalForm .facebook p, .modalForm .google p{
    color: white;
    text-align: center;
    line-height: 40px;
    padding: 8px;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.modalForm p i{
    margin-left: -25px;
    margin-right: 25px;
    font-size: 25px;
}

.modalForm form{
    padding: 20px;
}

.modalForm form input[type="text"], .modalForm form input[type="email"], .modalForm form input[type="password"]{
	padding:25px;
}

.modalForm form input[type="submit"]{
	padding:15px;
}



/* PANTALLA DE ESCRITORIO GRANDE - LARGE */

@media(min-width:1200px){
    /* HEADER */

    .modalForm .facebook p{
        margin-right: -15px;
    }

    #top .register{
        padding-left: 68px;
    }
}

/* PANTALLA DE ESCRITORIO MEDIANO - MEDIUM */
@media (max-width: 1199px) and (min-width: 992px){

    /* HEADER */
    header #logo img{
        
        padding: 2px 0px;
        padding-left: 0px;
    }

    .modalForm .facebook p{
        margin-right: -15px;
    }
}

/* PANTALLA DE TABLET - SMALL */
@media(max-width:991px) and (min-width:768px){

    /* HEADER */
    header #logo img{
        padding: 2px 0px;
    }

    .modalForm .facebook p{
        margin-right: -15px;
    }
}

/* PANTALLA DE PHONES - EXTRA SMALL */
@media(max-width:767px){

    /* TOP */
    #top ul {
        padding-top: 8px;
    }
    
    /* HEADER */
    header #logo img{
        padding: 2px;
        max-width: 204%;
        max-height: 204%;
        margin-left: -53%;
    }

    .modalForm .google p{
        margin-top: -15px;
    }

    #top .social{
        padding-left: 74px;
    }

    #top .register{
        padding-left: 70px;
    }
}

