#top ul{
    padding-top: 8px;
}

#top ul li{
    display: inline;
    line-height: 30px;
    margin: 0px 5px;
    color: white;
}

#top ul li a i{
    font-size: 18px;
    margin: 0 1px;
}


header #logo{
    justify-content: center;
    display: flex;
}


/* PANTALLA DE ESCRITORIO GRANDE - LARGE */

@media(min-width:1200px){

    /* HEADER */
    header #logo img{
        padding: 20px 60px;
        padding-left: 0px;
    }
}

/* PANTALLA DE ESCRITORIO MEDIANO - MEDIUM */
@media (max-width: 1199px) and (min-width: 992px){

    /* HEADER */
    header #logo img{
        padding: 25px 60px;
        padding-left: 0px;
    }
   
}

/* PANTALLA DE TABLET - SMALL */
@media(max-width:991px) and (min-width:768px){

    /* HEADER */
    header #logo img{
        padding: 30px 0px;
    }
   
}

/* PANTALLA DE PHONES - EXTRA SMALL */
@media(max-width:767px){

    /* TOP */
    #top ul {
        padding-top: 8px;
       
    }
    
    /* HEADER */
    header #logo img{
        padding: 30px;
        padding-bottom: 10px;
    }

    
    


    
}

