/* PROFILE */
#profile figure#imgProfile img{
    width: 80%;
    margin: 10px 0;
}

#profile #uploadImage{
    display: none;
    margin: 20px 0px;
    border: 2px dotted #ccc;
    overflow: hidden;
    padding: 40px;
    cursor: pointer;
} 

#profile #uploadImage img{
    width: 100%;
    padding: 10px;
}

#profile #uploadImage #dataImage{
    height: 65px;

}

@media(min-width:1200px){

    #purchases{
        margin-bottom: 100px;
    }
    
    
}

