/* BANNER */
.banner{
    position: relative;
    overflow: hidden;
}

.banner .textBanner{
    position: absolute;
    font-family: 'Ubuntu Condensed', sans-serif;
}

.banner .textRight{
    top: 50px;
    right: 50px;
    text-align: right;
}

.banner .textLeft{
    top: 50px;
    left: 50px;
    text-align: left;
}

.banner .textCenter{
    top: 50px;
    left: 50px;
    width: 800px;
    margin-left: 400px;
    text-align: center;
}

.textBanner h1{
    font-size: 35px;
    line-height: 25px;
}

.textBanner h2{
    font-size: 30px;
    line-height: 25px;
}

.textBanner h3{
    font-size: 24px;
    line-height: 25px;
}

/* PRODUCT BAR */
.productBar .organizeasesorias span{
    margin-left: 5px;

}


/* PRODUCT SHOWCASE GRID*/

.heading-section {
    text-align: center;
    padding: 30px 0 30px 0;
}

.heading-section h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: #333;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 3px;
}

.asesorias{
    margin-top: 100px;
    margin-bottom: 30px;
  }

.asesorias li figure{
    overflow: hidden;
}

.asesorias li a img:hover{
    transition: .3s all ease;
    opacity: .8;
    transform: scale(1.1,1.1);
}

.asesorias li h4 small{
    color:#777;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
}

.asesorias li h4 small a{
    color: #777;
}

.asesorias li div.price{
    padding: 0;
    margin-top: -30px;
    padding-bottom: 20px;
}

.asesorias li div.links{
    padding: 0;
    padding-bottom: 20px;
}

.asesorias li div.links button{
    margin: 2px;
}

.asesorias li div.links button i{
    color: #999;
    font-size: 12px;
}


.ultimas-asesorias li figure{
    overflow: hidden;
}

.ultimas-asesorias li a img:hover{
    transition: .3s all ease;
    opacity: .8;
    transform: scale(1.1,1.1);
}

.ultimas-asesorias li h4 small{
    color:#777;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
}

.ultimas-asesorias li h4 small a{
    color: #777;
}

.ultimas-asesorias li div.price{
    padding: 0;
    margin-top: -30px;
}

/* PRODUCT SHOWCASE LIST*/

.asesorias li h1{
    margin-top: -10px;
}

.asesorias li h1 small{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
}

.asesorias li h1 small a{
    color: #777;
}

.ultimas-asesorias li h1{
    margin-top: -10px;
}

.ultimas-asesorias li h1 small{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
}

.ultimas-asesorias li h1 small a{
    color: #777;
}

.heading-section a {
    margin-top: -35px;
    margin-left: 2px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    color: #f33f3f;
}

.offer{
    text-decoration: line-through;
    color: #ccc;
    font-size: 15px;
}

.fontSize{
    font-size: 11px;
}



@media(min-width:1200px){

    .banner{
        height: 260px;
    }
    
}

/* PANTALLA DE ESCRITORIO MEDIANO - MEDIUM */
@media (max-width: 1199px) and (min-width: 992px){

    .banner{
        height: 260px;
    }

}

/* PANTALLA DE TABLET - SMALL */
@media(max-width:991px) and (min-width:768px){
  
    .banner{
        height: 180px;
    }

    .banner .textRight, .banner .textLeft, .banner .textCenter{
        top: 35px;
    }

    .textBanner h1{
        font-size: 30px;
        line-height: 15px;
    }
    
    .textBanner h2{
        font-size: 25px;
        line-height: 15px;
    }
    
    .textBanner h3{
        font-size: 25px;
        line-height: 15px;
    }




}

/* PANTALLA DE PHONES - EXTRA SMALL */
@media(max-width:767px){

    .banner{
        height: 100px;
    }

    .banner .textRight, .banner .textLeft, .banner .textCenter{
        top: 7px;
        left: 50%;
        width: 800px;
        margin-left: -400px;
        text-align: center;
        text-shadow: 2px 2px 20px black;
    }

    .textBanner h1{
        font-size: 20px;
        line-height: 5px;
    }
    
    .textBanner h2{
        font-size: 20px;
        line-height: 5px;
    }
    
    .textBanner h3{
        font-size: 15px;
        line-height: 5px;
    }

    .featureTitle h1{
        text-align: center;
    }

    .featureTitle button{
        position: absolute;
        left: 50%;
        width: 40%;
        margin-left: -20%;
    }

    .asesorias ul li h1 small{
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 700;
    }
    


}

