*{
    margin:0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
}

ul, ol{
    padding: 0px;
}

a:visited, a:link, a:focus, a:hover, a:active{
    list-style: none;
    text-decoration: none;

}

.fc-today{
    background: rgba(255, 255, 255, 0) !important;
}

.topBar{
    background: rgb(116, 65, 31);
}


.topBar a{
    color: white;
}

.backColor, .backColor a{
    background: #c19c47;
    color: white;
}

.fondoBreadcrumb{
    margin-bottom: 0px;
    background: rgba(0,0,0,0);    
}


/* SOCIAL NETWORKS */

.socialNet{
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;

}

/* FACEBOOK */
.facebookWhite{
    color: white;
}

.facebookColor{
    color: white;
    background: #46639f;
}

/* YOUTUBE */
.youtubeColor{
	color:white;
	background:#d6513e;
}

.youtubeWhite{
	color:white;

}

/* INSTAGRAM */
.instagramColor{
	color:white;
	background:linear-gradient(45deg, #fca925, #ee1d5f,  #6350a2);
}

.instagramWhite{
	color:white;
}

/* SCROLL UP */
#scrollUp{
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background: url(../img/template/flecha.jpg);
}

/* ERROR 404, VERIFICATION*/
.error404, .verification{
    color: #333;
}

.error404 h1{
    margin-top: -20px;
}

/* ESCRITORIO GRANDE*/
@media (min-width:1200px) {

    .error404 h1{
        font-size: 300px;
        text-shadow: 8px 8px 1px #dadada;
       
    }

    .verification h3{
        margin-left: -25px;
        margin-top: 30px;
        font-size: 100px;
        text-shadow: 4px 4px 1px #dadada;
    }

    .verification h2{
        margin-left: -11px;
    }
    .verification button{
        margin-left: -39px;
    }
    
}

/* ESCRITORIO MEDIANO */
@media (max-width:1199px) and (min-width:992px) {

    .error404 h1{
        font-size: 200px;
        text-shadow: 6px 6px 1px #dadada;
    }

    .verification h3{
        margin-top: 20px;
        font-size: 100px;
        text-shadow: 4px 4px 1px #dadada;
    }

}

/* ESCRITORIO PEQUEÑO */
@media (max-width:991px) and (min-width:768px) {

    .error404 h1{
        font-size: 150px;
        text-shadow: 4px 4px 1px #dadada;
    }

    .error404{
        margin-left: -4px;
    }

    .verification h3{
        margin-top: 20px;
        font-size: 100px;
        text-shadow: 4px 4px 1px #dadada;
    }

}

/* MOVIL */
@media (max-width:767px) {

    .error404 h1{
        font-size: 75px;
        text-shadow: 2px 2px 1px #dadada;
    }

    .error404 h1{
        margin-top: -80px;
    }

    .error404 h2{
        font-size: 20px;
       
    }

    .error404{
        margin-left: -5px;
    }

    .verification h3{
        margin-left: -11px;
        margin-top: 20px;
        font-size: 50px;
        text-shadow: 2px 2px 1px #dadada;
    }



    
}










